*.log
*.csr
*.conf
*.pem
*.p7b
*.csv
*secrets.yaml
**/Logs/*
**/node_modules/*
MQMqscParsing/nameSpaces/*
MQMqscParsing/outputLog.txt
GeneratingCerts/*.txt
MQ91to92Upgrade/configmap/cm-mqsc.yaml
MQ91to92Upgrade/INI/qmini-cm.yaml
MQ91to92Upgrade/PVC/pvc.yaml
MQ91to92Upgrade/STS/mq.yaml
MQMonitoring/.gitignore
MQMonitoring/deploy/notifications.yaml
MQMonitoring/naming.sh
MQMonitoring/recipients
MQMonitoring/build/buildconfig

